<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    
    <img src="img/moon.png" alt="" id="icon">

    <form>
        <h1>OMBAPI</h1>

        <div>
            <input type="text" name="buscar" id="buscar" placeholder="Buscar una pelicula, genero... ">
            <button id="enviar">Buscar</button>
        </div>
    </form>

    <main id="informacion">
    </main>

</body>
</html>