$font-family: Arial, Helvetica, sans-serif;

$font-color-primary: rgb(250, 250, 250);
$font-color-secundary: rgb(156, 156, 156);
$background-color-primary: rgba(68, 68, 68, 0.7);
$background-color-button: rgb(0, 0, 0);
$background-card: rgba(0, 0, 0, 0.5);

/*variables modo oscuro*/
$background-color-light: rgb(0, 175, 175);
$color-light: rgb(0, 0, 0);

$background-color-black: rgb(0, 0, 0);
$color-black: red;