@import 'variables';
@import 'mixins';
@import 'reset';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

@import 'variables';
@import 'mixins';
@import 'reset';

html{
    width: 100%;
    min-height: 600px;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center;
    letter-spacing: 1px;
}

.loader{
    height: 40%;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
}

/*Modo oscuro*/
body{
    background-color: $background-color-light;
    color: $color-light;
}

body{
    transition: all 0.5s;
}

.dark-mode{
    background-color: $background-color-black;
    color: $color-black;

    form{
        h1{
            color: $color-black;
        }

        div{
            button{
                color: $color-black;
            }
        }
    }

    main{
        section{
            background-color: rgba(46, 46, 46, 0.5);

            h1{
                color: $color-black;
                font-size: 16px;
            }
        }
    }
}

#icon{
    width: 30px;
    height: 30px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
}

form{
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 60px;

    h1{
        padding: 10px;
        color: $font-color-primary;
    }

    div{
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 10px;

        input{
            background-color: $background-color-primary;
            color: $font-color-primary;
            border: none;
            padding: 5px 10px;
            height: 40px;
            width: 90%;
            outline: none;
        }

        button{
            height: 40px;
            width: 70px;
            border: none;
            background-color: $background-color-button;
            color: $font-color-primary;
            cursor: pointer;
            @include transition(0.3s);

            &:hover{
                color: $font-color-primary;
                background-color: lighten($background-color-button, 10%);
                outline: none;
            }
        }
    }
}

main{
    width: 100%;
    height: 100%;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    section{
        width: 200px;
        height: 320px;
        background-color: $background-card;
        padding: 20px 10px;
        border-radius: 4px;
        text-align: center;
        margin: 10px 20px 20px;
        @include transition(0.3s);

        img{
            width: 150px;
            height: 230px;
            opacity: 0.9;

            &:hover{
                opacity: 1;
            }
        }

        h1{
            color: $font-color-primary;
            font-size: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p{
            color: $font-color-secundary;
        }
    }
}

@media (max-width: 768px) and (min-width: 300px){
    main section{
        margin: 10px 5px 20px;
    }

    main{
        padding: 50px 30px;
    }

    #icon{
        right: 5px;
        bottom: 20px;
    }
}